.recipe {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.3);
  border-radius: 10px;
  font-family: polysans, sans-serif;
  color: black;
}

.recipeName {
  font-size: 30px;
  margin-bottom: 13px;
}
.recipeImage {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}
.recipeDetails {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.recipeInstruction {
  padding: 0;
  border-radius: 3px;
  color: rgb(93, 89, 89);
}
.recipeInstruction ol {
  margin-left: 0px;
}
.recipeInstruction li {
  margin: 10px 0px;
}
