.container {
  width: 300px;
  border-radius: 10px;
  background: linear-gradient(135deg, #8d99ae, #61669a);
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
  margin: 30px;
  overflow: hidden;
  padding: 2px;
  /* to hide images overflow */
  font-family: "Courier New", Courier, monospace;
  transition: transform 0.4s ease-out;
}
.container:hover {
  transform: scale(1.1);
}
.image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.imageinfo {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 1.6;
  color: white;
  background: linear-gradient(120deg, #06d6a0, #1b9aaa);
}
.name {
  font-size: 1em;
  font-weight: 723;
  color: black;
}
.button {
  background: linear-gradient(135deg, #ff006e, #d90429);
  border: none;
  color: white;
  padding: 12px 18px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  transform: scale(1.2);
}
.buttonContainer {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
