.recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  background: linear-gradient(135deg, #8d99ae, #2b2d42);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(255, 200, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}
.recipe:hover {
  transform: scale(1.002);
}
.cost {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.recipeName {
  font-size: 32px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: wavy;
  /* font-size: 30px;*/
}
.recipeImage {
  width: 50%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 200, 0, 0.03);
  /* max-width: 100%;
*/
}
.recipeImageDiv {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recipeDetails {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
}
.recipeInstruction {
  background: #dfe2e3;
  padding: 15px;
  border-radius: 6px;
  color: #2b2d42;
}

.recipeInstruction ol {
  padding-left: 20px;
}
.recipeInstruction li {
  margin: 8px 0;
  color: #2b2d42;
}
