.nav {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(135deg, #ef233c, #d90429);
  color: white;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(255, 0, 0, 0.2);
  line-height: 1.6;
  letter-spacing: 2px;
}
