.searchContainer {
  margin: 20px auto;
  width: 300px;
  position: relative;
}
.input {
  border: none;
  border-bottom: 1px solid rgb(238, 235, 235);
  padding: 10px 20px;
  outline: none; 
  /* outline of input box */
  font-size: 20px;
  color: grey;
  width: 100%;
}
